.wise-iframe-wrapper {
    position: relative;
    padding-bottom: 56.10%;
    height: 0;
    overflow: hidden;
    border: .5mm solid;
}
 
.wise-iframe-wrapper iframe,
.wise-iframe-wrapper object,
.wise-iframe-wrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.admonition.note > .admonition-title {
    background: #4582EC;
    color: #fff;
}

.admonition.note {
    border-color: #4582EC;
}
